body{
    margin: 0;
    padding: 0;
}

nav {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
}

.nav-item{
    margin-left: 6vh;
    padding: 2vw;
    font-size: 1vw;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.content{
    text-align: center;
}


h1{
    font: Albert-Sans, sans-serif;
    font-size: 15vw;
    color: #8E3B46;
}
h2{
    font: Albert-Sans, sans-serif;
    font-size: 6vw;
    color: #3C4C32;
}

h3{
    font: Albert-Sans, sans-serif;
    font-size: 3vw;
    color: #718758
}
