body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.content{
    text-align: center;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a{
    list-style: none;
    margin-left: 50px;
}

.logo img{
    width: 50%;
    border: 2px solid white;
    border-radius: 50px;
}

h1{
    font: Albert-Sans, sans-serif;
    font-size: 15vw;
    color: #8E3B46;
}
h2{
    font: Albert-Sans, sans-serif;
    font-size: 6vw;
    color: #3C4C32;
}

h3{
    font: Albert-Sans, sans-serif;
    font-size: 3vw;
    color: #718758
}
h4{
    font: Albert-Sans, sans-serif;
    font-size: 60vw;
    color: #000000
}
h5{
    font: Albert-Sans, sans-serif;
    font-size: 2vw;
    color: #f7e6ca;
}
h6{
    font: Albert-Sans, sans-serif;
    font-size: 1.75vw;
    color: #1f1e1d;
}

  .column {
    float: left;
    width: 50%;
}
h5 {text-align: center;}
h6 {text-align: center;}