body{
    margin: 0;
    padding: 0;
}
.site-content {
    height: 100vh;
    width: 100vw;
}

*{
    font-family: 'Albert Sans';
}

nav {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
}

.nav-item{
    margin-left: 6vh;
    padding: 2vw;
    font-size: 1vw;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.content{
    text-align: center;
}

h1, h2, h3{
    padding: 0;
    margin: 0;
    text-shadow: 10px 20px 60px rgb(34, 40, 12);
}

h1{
    font: Albert-Sans;
    font-size: 15vw;
    color: #8E3B46;
}
h2{
    font: Albert-Sans;
    font-size: 6vw;
    color: #3C4C32;
}

h3{
    font: Albert-Sans;
    font-size: 3vw;
    color: #718758
}
